<div class="col-md-6 offset-md-3">
    <h3> Create Quiz </h3>
    <form (ngSubmit) = "onSubmit()">
        <input type="hidden" [(ngModel)] = "quiz.id" name="id">

        <div class="form-group">
            <label>Title</label>
            <input type="text" class ="form-control" id = "title"
            [(ngModel)] = "quiz.title" name = "title">
        </div>
    
        <div class="form-group">
            <label>Difficulty</label>
            <input type="text" class ="form-control" id = "Difficulty"
            [(ngModel)] = "quiz.difficulty" name = "Difficulty">
        </div>
        
        <div class="form-group">
            <label>quiz Timelimit</label>
            <input type="text" class ="form-control" id = "quizTimelimit"
            [(ngModel)] = "quiz.timeLimit" name = "quizTimelimit">
        </div>
        
        <div class="form-group">
            <label>quiz rewardPoints</label>
            <input type="text" class ="form-control" id = "quizrewardPoints"
            [(ngModel)] = "quiz.rewardPoints" name = "quizrewardPoints">
        </div>
        
        <div class="form-group"> 
            <button class = "btn btn-success" (click) = "addQuestion()">Add Question</button>
        </div>
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 
    
<div>
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>Question</th>
                <th>Option-1</th>
                <th>Option-2</th>
                <th>Option-3</th>
                <th>Option-4</th>
                <th>Correct</th>
            </tr>
        </thead>
    
        <tbody >
            <tr *ngFor = "let question of quiz.questions; let i=index;" >
            <ng-container  *ngIf="(i < (quiz.questions.length - 1));">
                <td> {{ question.question }} </td>
                <td> {{ question.option1 }} </td>
                <td> {{ question.option2 }} </td>
                <td> {{ question.option3 }} </td>
                <td> {{ question.option4 }} </td>
                <td> {{ question.corrext }} </td>
                
                <td >
                    <button (click) = "updateQuestion(i)" class = "btn btn-info"> Update</button>
                </td>
            </ng-container>
            </tr>
        </tbody>
    </table>
    </div>
    