<div class="col-md-6 offset-md-3">
    <h3> Create question </h3>
    <form (ngSubmit) = "onSubmit()">
        <input type="hidden" [(ngModel)] = "question.id" name="id">
        <div class="form-group">
            <label>question</label>
            <input type="text" class ="form-control" id = "question"
                [(ngModel)] = "question.question" name = "question">
        </div>
    
        <div class="form-group">
            <label>Option1</label>
            <input type="text" class ="form-control" id = "option1"
                [(ngModel)] = "question.option1" name = "option1">
        </div>
    
        <div class="form-group">
            <label>Option2</label>
            <input type="text" class ="form-control" id = "option2"
                [(ngModel)] = "question.option2" name = "option2">
        </div>

        <div class="form-group">
            <label>Option3</label>
            <input type="text" class ="form-control" id = "option3"
                [(ngModel)] = "question.option3" name = "option3">
        </div>
    
        <div class="form-group">
            <label>Option4</label>
            <input type="text" class ="form-control" id = "option4"
                [(ngModel)] = "question.option4" name = "option4">
        </div>

        <div class="form-group">
            <label>Correct Answer</label>
            <input type="text" class ="form-control" id = "correct"
                [(ngModel)] = "question.correct" name = "correct">
        </div>        

        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 

    